# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile

# Python virtual environment
.venv/
**/__pycache__/
*.pyc

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store

# Sensitive files
.env

# Output and logs
output_data/
resources/vector_store/
factoring_log.md
BLUEPRINT.md
README.md 